numpy
pandas
matplotlib
google.generativeai
scikit-learn
ipython
poetry


For google.generativeai, if you get error while importing:
    pip install -U ipywidgets
    jupyter nbextension enable --py --sys-prefix widgetsnbextension
